/********** CSS Starts **********/
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body
{
    font-family: 'Inter';
    font-size: 11.5pt !important;
    color: #12223D !important;
}
.w3-show p
{
    padding: 20px !important;
    box-shadow: 0px 0px 25px -5px rgba(49, 69, 102, 0.15);
}
.w3-btn
{
    box-shadow: none !important;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 
{
    color: #12223D !important;
}
@font-face {
        font-family: Inter;
        src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
         font-family:Inter Bold;
        src: url(../fonts/Inter-Bold.tff);
}
.logocs
{
    position: absolute;
    width: 111px;
    height: 28px;
    left: 120px;
    top: 16px;
}
.letsbtn fa
{
    color: #ffffff !important;
}
.iconcs
{
    margin-left: 10px !important;
}
.letsbtn
{
    margin: 10px !important;
    padding: 10px 24px;
    background-color: #187080 !important;
    /*display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    gap: 10px;

    position: absolute;
    left: 83.12%;
    right: 7.5%;
    top: 13.33%;
    bottom: 13.33%;

    /* Brand color/Brand Elm */

    /*background: #187080;
    border-radius: 4px;
}

    flex-grow: 0;*/
}

.btn-secondary
{
    background-color: #ffffff !important;
    border-radius: 4px !important;
    color: #187080 !important;
    border-color: #ffffff !important;
    padding: 10px 20px !important;
    margin-top: 30px !important;
}
.cardblu .row,.cardorg .row
{
    padding: 10px 0px !important;
}
.btmftr h3
{
    font-size:16px !important;
}
.btmftr a
{
    padding-left:0px !important;
    margin-bottom:20px !important;
}

.btn-primary
{
    background-color: #33D0DD !important;
    border-color: #33D0DD !important;
}
.btmftr
{
    background-color:#001114 !important;
}
.btmrw
{
    background: linear-gradient(135deg, #FFF8F3 0%, #FFD4BC 100%);
}
.btmsec
{
    margin: 50px 30px 50px 30px;
    box-shadow: 0px 20px 25px -5px rgba(49, 69, 102, 0.15);
    border-radius: 22px;
    background-color: #FFFFFF !important;
    background-image: url("../img/btmimg2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:60px 25px !important;
    text-align: center !important;
}
.btmsec .letsbtn
{
    margin: 0px !important;
}
.blgcol
{
    background: #FFFFFF;
    /* shadow-xl */

    box-shadow: 0px 20px 25px -5px rgba(49, 69, 102, 0.15);
    border-radius: 8px;
    margin: 20px;
}
.blgcnt
{
    padding: 20px;
    border-radius: 8px !important;
}
.crdbx img
{
    margin-right: 10px;
}
.cardlst2
{
    background: #ffffff !important;
    box-shadow: 0px 4px 6px -1px rgba(49, 69, 102, 0.1);
    margin: 30px 30px 30px 0px !important;
    padding: 20px;;
    width: 270px;
    height: 270px;
}
.cardlst2 p
{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #314566;
}
.cardlst2 img
{
    width: 56px;
    height: 56px;
    left: 0px;
    top: 20px;
}
.cardlst2 h5
{
    font-weight: 600;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.1px;
    
}
.cardlst
{
    background: #ffffff !important;
    box-shadow: 0px 4px 6px -1px rgba(49, 69, 102, 0.1);
    margin: 30px 30px 30px 0px !important;
    padding: 30px;
    min-height: 298px !important;
}
.cardlst-1
{
    background: #ffffff !important;
    box-shadow: 0px 4px 6px -1px rgba(49, 69, 102, 0.1);
    margin: 30px 0px 30px 0px !important;
    padding: 30px;
    min-height: 298px !important;
}
.cardbg1
{
    background-image: url("../img/invesbg.png");
    padding: 0px 6rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-overlay: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.cardbg
{
    background-image: url("../img/cardimg.png");
    padding: 0px 6rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 280px;
}
.cardblu .crdbx
{
    font-weight: 600 !important;
    color: #187080 !important;
}
.cardorg .crdbx
{
   font-weight: 600 !important;
    color: #EB6F28 !important
}
.cardblu
{
    margin: 10px 0px;
    padding: 20px;
    background: #F6FCFD;
    border: 1px solid rgba(24, 112, 128, 0.4);
    border-radius: 8px;
}
.w3-container
{
    padding: 0px !important;
}
.w3-container i
{
    float: right !important;
}
.cardorg
{
    margin: 10px 0px;
    padding: 20px;
    background: #FEF9F6;
    border: 1px solid rgba(235, 111, 40, 0.4);
    border-radius: 8px;
}
.w3-btn, .w3-button
{
    padding: 10px 5px !important;
}
.w3-container p
{
    margin-top: 20px !important;
}
.btn-outline-secondary
{
    color: #000000 !important;
    border-color: #000000 !important;
}
.position-absolute
{
    position: absolute !important;
}
.bg-primary
{
    background: url(.png), radial-gradient(106.33% 167.47% at -0.85% 2.55%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.0447917) 77.08%, rgba(0, 0, 0, 0) 100%) !important;
    background-blend-mode: overlay, normal !important;
    backdrop-filter: blur(40px) !important;
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 0px 0px 4px 4px !important;
}
.position-relative
{
    position: relative !important;
}
.w3-white
{
    line-height: 30px !important;
}
.propos .w3-btn
{
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    padding: 20px 20px 20px 20px !important;
}
.w3-disp
{
    background: #FFFFFF !important;
    /* Basics/White */

    border: 2px solid #FFFFFF !important;
    /* shadow-md */

    box-shadow: 0px 4px 6px -1px rgba(49, 69, 102, 0.1) !important;
    border-radius: 0px 0px 8px 8px !important;
    padding: 0px 20px 20px 20px !important;
}
.rwpd .btn-secondary
{
padding: 0px !important;
}
.rwpd
{
    padding: 0rem 6rem 0rem 6rem !important;
}
.banbtm1 p
{
    line-height: 30px !important;
}
.banbtm1 .btn-secondary
{
    padding: 0px !important;
}
.banbtm,.banbtm1
{
     background-color: #FEF9F6;
     margin-top: 0px !important;     
}
.banbtm1
{
    padding: 4rem 6rem !important;
}
.banbtm
{
    padding: 20px 0px 0px 0px;
    text-align: center;
}

@media (min-width: 992px)
{
    .collft
    {
        padding-left: 6rem;
    }
    .colrgt
    {
        padding-right: 6rem;
    }
    .display-1
    {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 68px;
    }
    .display-1 h5
    {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-transform: "capitalize" !important;
    }
    .letsbtn
    {
        margin: 10px 6rem 10px 10px !important;
    }
}
/********** CSS End **********/
/********** Template CSS **********/

:root {
    --primary: #2878EB;
    --secondary: #F14D5D;
    --light: #ECF4FF;
    --dark: #314566;
}

[class^=flaticon-]:before,
[class*=" flaticon-"]:before,
[class^=flaticon-]:after,
[class*=" flaticon-"]:after {
    font-size: inherit;
    margin-left: 0;
}

h1,
h2,
.font-weight-bold {
    font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
    font-weight: 500 !important;
}

.btn {
    font-family: 'Inter';
    font-weight: 600;
    transition: .5s;
}

.btn-primary,
.btn-secondary,
.btn-primary:hover,
.btn-secondary:hover {
    color: #FFFFFF;
}

.btn-primary:hover {
    background: var(--secondary);
    border-color: var(--secondary);
}

.btn-secondary:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 35px;
    height: 35px;
    padding-top: 2px!important;
    padding-bottom: 0px!important;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.navbar-light .navbar-nav .nav-link {
    /*font-family: 'Inter';
    position: relative;
    margin-left: 30px;
    padding: 30px 0;
    font-size: 12pt;
    font-weight: 500;
    color: var(--dark);
    outline: none;
    transition: .5s;*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;

    /* Text/Text Mid */
    color: #314566;
    padding: 20px 10px !important;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (min-width: 992px) {
    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 5px;
        bottom: 0;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-left: 0;
        padding: 10px 0;
    }
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(18, 15, 45, .5);
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }

    .social-icons
    {
        padding-left: 1.5rem!important;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

.carousel-indicators {
    align-items: flex-end;
}

.carousel-indicators [data-bs-target] {
    width: 5px;
    height: 25px;
}

.carousel-indicators .active {
    height: 45px;
}

.hero-header {
    background: linear-gradient(rgba(18, 15, 45, .5), rgba(18, 15, 45, .5)), url(../img/carousel-1.jpg) top right no-repeat;
    background-size: cover;
}

.service-item div {
    z-index: 1;
}

.service-item div::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 2px 2px 0 0;
    transition: .5s;
    z-index: -1;
}

.service-item div:hover::after {
    width: 100%;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}

.bg-offer {
    background: linear-gradient(rgba(18, 15, 45, .5), rgba(18, 15, 45, .5)), url(../img/carousel-2.jpg) top right no-repeat;
    background-size: cover;
}

.testimonial-carousel .owl-dots {
    height: 45px;
    margin-top: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 5px;
    height: 25px;
    background: #DDDDDD;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    height: 45px;
    background: var(--primary);
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.blog-date {
    position: absolute;
    width: 90px;
    height: 65px;
    top: 75px;
    left: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--secondary);
}

.blog-date::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -25px;
    left: 0;
    border: 13px solid;
    border-color: transparent #D34351 #D34351 transparent;
    z-index: -1;
}

.inviga-dropdown{
    border-bottom: 1px solid #187080; 
    box-shadow: 0px 20px 25px -5px rgba(49, 69, 102, 0.15)!important;
}
.carousel-inner{
    max-height:609px;
}
.carousel-caption{
    height:104vh;
}
.collft h2{
    font-family: 'Inter';
    font-weight: 600 !important;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.1px;
}
/* Inviga Responsive */
@media only screen and (max-width: 600px) {
    .carousel-caption{
        height:80vh;
    }
    
}